@import "../../global.scss";

.intro {
  * {
    transition: all 1s ease;
  }
  width: 100vw;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

.intro::before {
  content: "";
  background: url(../../../public/images/forest.jpg) no-repeat center
    center/cover;
  position: absolute;
  opacity: 0.3;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 90vh;

  object-fit: cover;
}
.photo-container {
  flex: 0.35;
  z-index: 1;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-circle {
  background: url(../../../public/images/headshot.jpg);
  background-size: cover;
  background-position: 30% 30%; /* First value is from left and second is from top. You can use use number as well*/
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 50%;
  min-width: 250px;
  height: 50%;
  min-height: 200px;
  opacity: 0.3;
  z-index: 2;

  &:hover {
    // border: 2px solid white;
    opacity: 1;
  }
}
.photo-circle:hover ~ .rectangle {
  // opacity: 1;
}

.rectangle {
  height: 35%;
  width: 20%;
  position: absolute;
  top: 40%;
  left: 10%;
  background-color: rgb(38, 42, 38);
  opacity: 0;
}

.intro-text-container {
  padding-left: 100px;

  height: 100%;
  width: 100%;
  flex: 0.65;
  display: flex;
  flex-direction: column;

  a {
    padding-left: 120px;

    flex: 0.3;
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: #0377bd; //$mainGreen;

    animation: up-down 1.75s infinite alternate
      cubic-bezier(0.01, 0.01, 1, 0.07);

    @keyframes up-down {
      100% {
        transform: translateY(20%);
      }
    }
    &:hover {
      animation-play-state: paused;
    }
    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.intro-text {
  flex: 0.7;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    color: #0377bd; //$mainGreen;
    span {
      color: inherit;
    }
    .ityped-cursor {
      animation: blink 10s infinite;
    }
    @keyframes blink {
      // 50% {
      //   opacity: 1;
      // }
      100% {
        opacity: 0;
      }
    }
  }
}
.external-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  flex: 0.1;
  bottom: 0px;
  z-index: 3;
  a {
    width: 100%;
    img {
      width: 80%;
    }
  }
}
.external-links-mobile {
  display: none;
}

//responsive design
@media only screen and (max-width: 640px) {
  .intro {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 100vh !important;
    top: 100px;
  }
  .intro-text-container {
    margin-top: 10px;
    padding: 10px 0px 0px 20px;
    z-index: 2;
    flex: 0.3;
    .intro-text {
      padding-top: 0px;
      padding-left: 10px;
      flex: 1;
    }
    h2 {
      height: 80px;
      overflow-y: visible;
    }
    h1 {
      height: 110px;
      overflow-y: visible;
    }
    h3 {
      height: 116px;
      overflow-y: visible;
    }
    a {
      display: none;
    }
  }
  .photo-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    height: 40vh;
    min-height: 300px;
    flex: 0.5;
    .rectangle {
      display: none;
    }
    .photo-circle {
      max-width: 200px;
      min-width: 50px;
      min-height: 100px;
      height: 30%;
      flex: 0.6;
      opacity: 0.5;
    }
    .external-links-mobile {
      display: flex;
      justify-content: end;
      height: 100px;
      width: 100%;
      flex: 0.2;
      z-index: 2;
      min-height: 50px;
      margin-top: 40px;
      a {
        height: 100%;
        margin-right: 10px;
        img {
          height: 80%;
        }
      }
    }
  }
  .external-links {
    display: none;
  }
  .intro::before {
    height: 100vh;
  }
}
