.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 100px);
    // background-color: chocolate;
    position: relative;
    top: 12vh;

    scroll-snap-type: y proximity;
    overflow: scroll;
    scrollbar-width: none; //firefox
    scroll-behavior: smooth;

    > * {
      width: 100%;
      height: calc(100vh - 100px);
      scroll-snap-align: start;
    }
  }
  @media only screen and (max-width: 640px) {
    .app {
      overflow: hidden;
    }
    .sections {
      height: 100vh;
      top: 100px;
      scroll-snap-type: none;
    }
    > * {
      width: 100vw;
      height: 100vh;

      scroll-snap-align: none;
    }
  }
}
